@import "tailwindcss";

html, body, #root {
  margin: 0;
  height: 100%;
}

body{
  background:
    radial-gradient(circle at top,#0d2e57 0%,#081228 45%,#050b18 100%);
  color:white;
  font-family: Inter, sans-serif;
}

*{
  box-sizing:border-box;
}

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: #1f3a52; border-radius: 8px; }
::-webkit-scrollbar-track { background: transparent; }
